In [2]:
import pandas

In [3]:
df = pandas.read_csv('media/test_csv.csv')

In [4]:
df.head()

       nom   prénom      statut
0     paul   Louvin      Envoyé
1  Pauline  Gaumont  Non envoyé

In [20]:
def sarch_value(value):
    if value is None:
        return False

    if isinstance(value, bool):
        return False
    
    return any([
        'paul' in value.lower(),
        'paul' in value,
        'paul' == value
    ])

new_df = pandas.DataFrame()
for column in df.columns:
    new_df[f'{column}_f'] = df[column].map(sarch_value)

In [24]:
df.merge(new_df, how='cross')

       nom   prénom      statut  found  nom_f  prénom_f  statut_f  found_f
0     paul   Louvin      Envoyé   True   True     False     False    False
1     paul   Louvin      Envoyé   True   True     False     False    False
2  Pauline  Gaumont  Non envoyé  False   True     False     False    False
3  Pauline  Gaumont  Non envoyé  False   True     False     False    False